
flujo-vehicular-2016.csv
flujo-vehicular-2017.csv
flujo-vehicular-2018.csv
flujo-vehicular-2019.csv
flujo-vehicular-2020.csv
.ipynb_checkpoints/p3_series-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint.txt
.gitignore.txt
